.component {
  padding: 2rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 1rem;
}

.card {
  width: 100% !important;
}

.card-title {
  font-weight: 700;
  font-size: 1.5rem;
}
